@import url('https://fonts.googleapis.com/css2?family=Inter&family=Monoton&display=swap');
.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    border: 2px solid black;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.input{
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid black;
    margin: 5px;
}
.iOne{
    margin-top: 20px;
    padding: 10px;
    height: 100%;
    width: 90%;
}
.iTwo{
    margin-top: 20px;
    padding: 30px;
    height: 50%;
    width: 90%;
}
.iThree{
    margin-top: 20px;
    padding: 20px;
    height: 100%;
    width: 90%;
}
.submitBtn{
    margin-top: 20px;
    height: 50%;
    width: 90%;
}
.closeModal{
    margin-top: 180px;
    
}
.modalContent {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: black;
    padding: 14px 28px;
    border-radius: 20px;
    width: 600px;
    height: 300px;
}
.mainContent{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;

}
.sidebar{
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    display: flex;
}
.filterButtons{
    top: 200px;
    position: relative;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/* .filterButtons button{
    border: 1px solid black;
    width: 80%;
    height: 30%;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
} */
.logoutBtn{
    top: 500px;
    position: relative;
    /* border: 1px solid black; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logoutBtn button{
    /* border: 1px solid black; */
    width: 80%;
    height: 85%;
    background-color: rgb(0, 66, 248);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    margin: 5px;


}
.header{
    
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.taskContent{
    width: 82%;
    height: 100%;
    
    margin-left: 8px;
    border-radius: 10px;
}
.taskInsideContent{
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.box{
    /* margin-top: 20px; */
    /* border: 1px solid black; */
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 200px;
    width: 200px;
    margin: 10px;
}
.boxContent{
    margin-left: 10px;
}
.btnModal{
    display: block;
    margin-left: 500px;
    border-radius: 20px;
    border: none;
    background-color: #8092D3;
    cursor: pointer;
    height: 30px;
    width: 150px;
    color: white;
}
.completed{
    background-color: green;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
}
.notCompleted{
    cursor: pointer;
    background-color: red;
    border-radius: 20px;
    border: none;
    color: white;
}
.completedBackground {
    background-color: #2882EE;
}

.notCompletedBackground {
    background-color: #D5B3FC;
}

/* Inside Box */
.tTitle{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    color: white;
    font-size: 18px;
}
.tDescription{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    color: white;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tDescription:hover{
    white-space: initial;
  overflow: visible;
  text-overflow: clip;
}
.tDate{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    color: white;
    font-size: 12px;
}
.allbtnch, .comp{
    background-color: #2882EE;
    border: none;
    width: 80%;
    height: 30%;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

.inComp{
    background-color: #D5B3FC;
    border: none;
    width: 80%;
    height: 30%;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}
